body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f8;
    padding: 20px;
}

h1 {
    text-align: center; /* Centra el texto */
  color: #0055ff; /* Cambia el color a un azul (puedes usar red, #FF0000, rgb(255,0,0), etc.) */
  /* Opcional: A単adir otros estilos */
  font-family: Arial, sans-serif;
  font-size: 2.5em;
}
h2 {
    text-align: center; /* Centra el texto */
  color: #d51212; /* Cambia el color a un azul (puedes usar red, #FF0000, rgb(255,0,0), etc.) */
  /* Opcional: A単adir otros estilos */
  font-family: Arial, sans-serif;
  font-size: 2.5em;
}

h3 {
    text-align: center; /* Centra el texto */
  color: #f660ba; /* Cambia el color a un azul (puedes usar red, #FF0000, rgb(255,0,0), etc.) */
  /* Opcional: A単adir otros estilos */
  font-family: Arial, sans-serif;
  font-size: 2.5em;
}
h4 {
    text-align: center; /* Centra el texto */
  color: #701ea2; /* Cambia el color a un azul (puedes usar red, #FF0000, rgb(255,0,0), etc.) */
  /* Opcional: A単adir otros estilos */
  font-family: Arial, sans-serif;
  font-size: 2.5em;
}

 

.card {
    background: rgb(251, 245, 245);
    padding: 15px;
    margin: 20px auto;
    width: 80%;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(230, 73, 73, 0.1);
}

textarea {
    width: 100%;
    height: 100px;
}

button {
    margin-top: 10px;
    padding: 8px 15px;
    cursor: pointer;
  color: rgb(157, 224, 91);
}
